@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic');

@font-face{
    font-family: 'Times New Roman';
    src: url(fonts/times.ttf);
}

body{
    width: 1260px; 
    display:flex;
    justify-content:center; 
    flex-flow: column;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
}
.wrapper{
 width: 1020px;
 margin: 0 auto;
 display:flex;
 justify-content:space-between;
 padding:0px 240px 0px 240px;
 background: #3e3b4a;
}

.wrapper 
#main{
    width: 1020px;
}
.home-slider-box{
    height: 512px;
    flex-basis:100%;
    /*width: 1020px;*/
    background: url(img/home-slider-img.jpg) no-repeat top center;
    box-sizing: border-box;
    padding: 42px 395px 7px 40px;
    font-family: openans;
    margin-bottom: 20px;
}
.button{
    width: fit-content;
    border:2px solid #ffe18f;
    background: none;
    font-size: 20px;
    font-weight: bold;    
}
.trobla_amplifier-box-button>.button,
.leica_M-slider-box-button>.button{
    background: #ffe18f;
}
.home-slider{
    display: flex;
    flex-flow: row wrap;
    flex-basis:1020px;
    }
    .home-slider-box-title{
        font-size: 72px;
        font-weight: bold;
    }
            
    .home-slider-box-text{
        font-size: 36px;  
    }
 .home-slider-title,
 .accessories-slider-title,
 .leica_M-slider-title,
 .trobla_amplifier-title,
 .leica_d-lux-title{
    font-size: 14px;
    color: #ffc7b0;
    font-weight: bold;

 }
    .leica_M-slider-box-title,
    .trobla_amplifier-box-title,
    .leica_d-lux-box-title{
     font-size: 36px;
    font-weight: bold;

    }
/*.home-slider-title,
.home-slider-box-title,
.home-slider-box-text,
.home-slider-box-button{
    display:flex;
    flex-direction:column;
    */
    .home-slider-box,
    .accessories-slider-box{
    display:flex;
    flex-direction:column;
 
}
.accessories-slider-box-title{
    font-size: 48px;
font-weight: bold;
}
.accessories-slider-box-text,
.subscribe-slider-box-text{
    font-size: 24px;

}
.accessories-slider-box{
    display:flex;
    flex-basis:56%;
    height: 484px;
    background: #79bdca url(img/accessories-slider.png) no-repeat top right;
    flex-direction:column;
    margin-right: 3%;
    margin-bottom: 20px;
    padding: 42px 0 7px 40px;
}
.subscribe-slider-box-title{
    font-size: 48px;
}
.subscribe-slider-box{
    /*height: 484px;*/
    flex-basis:37%;
    background: url(img/subscribe-slider-img.png);
    margin-bottom: 20px;
}
.subscribe-slider-box-info,
.subscribe-slider-box-title,
.subscribe-slider-box-text,
.subscribe-email,
.subscribe-email-form{
    display:flex;
    align-content:center;
    flex-flow: column wrap;
    font-family: 'Times New Roman';
}
.email-input{
    background: none;
    border:2px solid #ffd9d1;
}
.subscribe-button{
    background: #66689c;
}
.leica_M-slider-box{
    display:flex;
    flex-basis:25.5%;
    height: 420px;
    background: url(img/Leica\ M-slider.jpg) no-repeat center;
    margin-right: 2.2%;
    justify-content: center;
}

.home-slider-box-button,
.accessories-slider-box-button,
.leica_d-lux-box-button{
    margin-top: auto;
}
.home-slider-box-info,
.accessories-slider-box-info,
.leica_d-lux-box-info{
    display: flex;
    flex-direction:column;
    height: 90%;
  
}
.leica_M-slider-box-info,
.trobla_amplifier-box-info{
    display: flex;
    flex-direction:column;
    height: 90%;
    justify-content: space-around;
}
.leica_d-lux-box-text{
    font-weight: 20px;
}
.trobla_amplifier-box{
    display:flex;
    flex-basis:25.5%;
    height: 420px;
    background: url(img/trobla_amplifier.jpg) no-repeat center;  
    margin-right:2.2%;
    justify-content: center;
}
.leica_d-lux-box{
    display:flex;
    flex-direction: column;
    flex-basis:40.5%;
    height: 420px;
    background: #1ab467 url(img/leica_d-lux-box.png) no-repeat bottom right;
}
.footer-img{
    display:flex;
}
.footer_facebook{
    background: url(img/facebook.png) no-repeat;
    width: 50px;
    height: 50px;
}
.footer_twitter{
    background:url(img/twitter.png) no-repeat;
    width: 50px;
    height: 50px;
}
.home-slider-box-button a,
.accessories-slider-box-button a,
.leica_d-lux-box-button a{
    text-decoration: none;
    border-color: #ffe18f;
}
.white{
    color:#ffffff;
}
.icon-burger{
    display: inline-flex;
    width: 20px;
    height: 20px;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 12px;
}
.icon-burger span{
    background: #333;
    height: 2px;
}
.menu-link{
    display: inline-flex;
    align-items: center;
}
a .menu-title,
a .header-search-button {
    text-decoration: none;
}
.email-input{
    width: 284;
    color: #fff;
}
/*.leica_d-lux-box{
    padding: 42px 0 0 40px;
}*/