.wrapper{
 /*max-width: 1260px;*/
 width: 1260px;
 margin: 0 auto;
 display:flex;
 justify-content:space-between;
 padding:0px 240px 0px 240px;
 background: #3e3b4a;
}
.wrapper
.home-slider-box{
    height: 512px;
    width: 1020px;
    background: url(img/home-slider-img.jpg) no-repeat top center;
    box-sizing: border-box;
    
}
.home-slider{
    display: flex;
    flex-flow: row wrap;
    }
.home-slider-title,
.home-slider-box-title,
.home-slider-box-text,
.home-slider-box-button{
    display:flex;
    flex-direction:column;
}
.accessories-slider-box{
    height: 484px;
    width: 622px;
    background: #79bdca;
}
.subscribe-slider-box{
    height: 484px;
    width: 378px;
    background: url(img/subscribe-slider-img.png);
}
.subscribe-slider-box-info,
.subscribe-slider-box-title,
.subscribe-slider-box-text,
.subscribe-email,
.subscribe-email-form{
    display:flex;
    align-content:center;
    flex-flow: column wrap;
}
.home-slider-box{
    padding: 42px 395px 7px 40px;
}