.position{
    width:800px;
    height:600px;
    position:relative;
    background: url(picture.jpg) no-repeat;
}
.deer{
    position: absolute;
    width:250px;
    height:250px;
    bottom:80px;
    left:180px;
    z-index: 2;

}   
.sheep{
    position:absolute;
    width:180px;
    height:180px;
    bottom:80px;
    left:300px;
    z-index: 1;


} 
.bird{
    position:absolute;
    width:90px;
    height:80px;
    bottom:490px;
    left:190px;
}  
.house{
    position:absolute;
    width:110px;
    height:100px;
    bottom:280px;
    left:50px; 
}
.ship{
    position:absolute;
    width:200px;
    height:210px;
    bottom:320px;
    left:570px;

}
.goose{
    position:absolute;
    width:20px;
    height:30px;
    bottom:180px;
    left:70px;   

}
.stone{
    position:absolute;
    width:60px;
    height:45px;
    bottom:45px;
    left:500px;
}
.cat{
    position:absolute;
    width:70px;
    height:80px;
    bottom:65px;
    left:500px;
}
.beacon{
    position:absolute;
    width:200px;
    height:210px;
    bottom:330px;
    left:340px;  
}
.stump{
    position:absolute;
    width:50px;
    height:30px;
    bottom:100px;
    left:40px;  
}