.ourServices{
    display: flex;
    flex-flow: wrap;
    background: #f9fbfb;
    padding-top: 120px;
    padding-bottom: 122px;
}
.ourServices_title{
    flex-basis: 100%;
    text-align: center;
}
.ourServices_galery{
    display: flex;
    flex-flow: wrap;
    justify-content: center;

}
.galery_item_galery_item-selected,
.galery_item_galery_item-paper,
.galery_item_galery_item-laptop,
.galery_item_galery_item-workplace,
.galery_item_galery_item-bottle,
.galery_item_galery_item-cups{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;

}
.galery_item_galery_item-selected{
    background: url(../img/our_services_tea.png);
    max-width: 650px;
    min-height: 420px;
}
.galery_item_galery_item-paper{
background: url(../img/our_services_papers.png) no-repeat;
max-width: 473px;
min-height: 420px;
}
.galery_item_galery_item-laptop{
    background: url(../img/our_services_laptop.png);
    max-width: 650px;
    min-height: 370px;
}
.galery_item_galery_item-workplace{
    background: url(../img/our_services_workplace.png);
    max-width: 473px;
    min-height: 370px;
}
.galery_item_galery_item-bottle{
    background: url(../img/our_services_bottle.png);
    max-width: 470px;
    min-height: 370px;
}
.galery_item_galery_item-cups{
    background: url(../img/our_services_cupspng.png);
    max-width: 652px;
    min-height: 370px; 
}