.slider_icon{
    display: flex;
    justify-content: space-around;
    padding-top: 58px;
}
.slider_pencil,
.slider_computer,
.slider_basket{
    text-align: center;
}

.slider_pencil_title{
  font-family: 'Conv_SegoeWPN';
  font-size: 20.35px;
  color: #5094f2;


}

.slider_pencil_text{
  font-family: 'Conv_SegoeWPN';
  font-size: 14.35px;
}
hr{
  height: 0px;
  width: 0px;
}
@media(max-width:640px){
    .slider_icon{
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
      height: 800px;
    }

  .slider_pencil,
  .slider_computer,
  .slider_basket{
    display: flex;
    text-align: left;
}
.slider_pencil_info,
.slider_computer_info,
.slider_basket_info{
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 23px;

}

hr{
  color: black;
    height: 2px;
    width: 640px;
}

  }
