.slider_box{
    height: 490px;
    background:url(img/background.jpg) center no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slider_text{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    color: #ffffff;
}

.slider_box_title{
    font-size: 26.35px;
}

.img_iphone{
    display: flex;
    justify-content: center;
    flex-basis: 40%;
}


.btn{
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    background: #5094f2 url(img/btn.jpg.png) no-repeat 10px center;
    text-decoration: none;
    padding: 10px 10px 10px 42px;
    color: #ffffff;


}
.imgBtn{
    position: absolute;
    z-index: 100;

}
