.slider_icon{
    display: flex;
    justify-content: space-around;
    padding-top: 58px;
}
.slider_pencil,
.slider_computer,
.slider_basket{
    text-align: center;
}

@media(max-width:640px){
    .slider_icon{
        display: flex;
        flex-direction: column;
    }

  .slider_pencil,
  .slider_computer,
  .slider_basket{
    display: flex;
    align-items: center;
}
  }
}