.shopping_slider{

    padding-top: 90px;
}
.shopping_img{
    display: flex;
    flex-basis: 50%;
}
.shopping_info{
    display: flex;
    flex-basis: 50%;
}


.shopping_info{
    display: flex;
    flex-direction: column;
}
.shopping_content{
    display: flex;
}