* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
	font-family: 'Conv_SegoeWPN';
	src: url('fonts/SegoeWPN.eot');
	src: local('☺'), url('fonts/SegoeWPN.woff') format('woff'), url('fonts/SegoeWPN.ttf') format('truetype'), url('fonts/SegoeWPN.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.max_container{
    width: 100%;
    max-width: 1250px;
    margin:0 auto;
}
.min_container{
    width: 100%;
    max-width: 1024px;
    margin:0 auto; 
    /*display: flex;
    justify-content: space-around;
    align-items: center;*/
}
.header_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header_logo{
    display: flex;
    align-items: center;
}
.header{
    padding: 22px 0;
    text-transform: uppercase;

}
.nav{
    display: flex; 
    font-size: 20,35px;
}
.nav_link{
    color: #919191;
    text-decoration: none;
    margin-left: 36px;
    font-family: 'Conv_SegoeWPN';
    font-size: 20.35px;
}
.nav_link:hover{
    text-decoration: underline;
    color:#5094f2;
}
.nav_link:first-child{
    margin-left: 0;
}
.header_logo_name{
    margin-left: 16px;
    font-family: 'Conv_SegoeWPN';
    font-weight: 200;
    font-size: 42.35px;
}
/* 
.burger_menu{
    display: none;
} */

/*Media*/
.burger_menu{
    background-color: #5094f2;
    height: 43px;
    width: 58px;
    padding: 0 0 5px 8px;
    border-radius: 2px;
    display: none;
}
.burger{
    display: inline-flex;
    height: 30px;
    width: 40px;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 12px;
    color: #ffffff;
    background-color: #ffffff;
}
.burger span{
    background-color: #5094f2;
    height: 4px;
}

@media(max-width:640px){
    .nav{
        display: none;
    }
    .burger_menu{
        display: block;
    }
    .slider_box{
        height: auto;
    }
}


.blue{
    color: blue;
}