.border-top{
    border: 1px solid gray;
}
.table{

    width:100%;
    border-collapse:collapse;
    font-size: 12px;
    border:2px solid black;

}

td{
    padding: 1px 2px 1px 15px;
    vertical-align: top;
}
.border{
    border-left:0px solid white;
    border-right: 0px solid white;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.top{
   padding:1px 2px 30px 1px;
}
caption{
    font-weight: 600;
}
.font-weight > th {
    font-weight:300;
}
.bottom ~ td{
    border-bottom:2px solid black;
}