/* content: url("http://www.example.com/test.png");*/
/*.aboutUs{
    display: flex;
    flex-wrap: wrap;
    background: #f8fafa;
    padding-top: 125px;
    padding-bottom: 110px;
}
*/
.aboutUs_title{
    flex-basis: 100%;
    text-align: center;
}

.aboutUs_workplace,.aboutUs_text{
    flex-basis: 50%;
}
.aboutUs_workplace{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutUs_workplace>div:first-child{
    width: 479px;
    height: 412px;
    background-color: rgb(239, 240, 242);
    position: absolute;
    top: 63px;
}
.aboutUs_workplace>img{  
    position: relative;
    content: url(../img/work_place.png);
}
.aboutUs_workplace{  

    position: relative;

}

.aboutUs_text{
    display: flex;
    flex-flow: wrap;
    align-content: center;
    padding-right: 188px;
}
.aboutUs_text>p{
    margin-bottom: 40px;

    font-size: 16px;
  font-family: "Raleway";
  color: rgba(0, 0, 0, 0.741);
  line-height: 1.75;
}
.aboutUs_workplace_sliderMenu{
    display: inline-flex;
    height: 22px;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 12px;
}
.aboutUs_workplace_sliderMenu span{
    background: #d0d0d0;
    height:10px;
    width: 10px;
    margin: 1px;
    border-radius: 25%;
}
.aboutUs_workplace_sliderMenu span .color{
    background: #71f6eb;
}
.aboutUs_box{
    display: flex;
    flex-wrap: wrap;
    background: #f8fafa;
    padding-top: 125px;
    padding-bottom: 110px;
}

h2{
    font-family: Montserrat;
    font-size: 38px;
    font-weight: bold;
}

.subtitle{
    font-family: Merriweather;
    font-size: 17px;
}
@media(max-width:1160px){
    .aboutUs_box{
    display: flex;
    flex-flow: column;
    align-items: center;
    }

}

@media(max-width:499px){
    .aboutUs_text>p{
    font-size: 16px;
}
}